<h1>Welcome <%=@user.first_name%></h1>
<p><%= link_to image_tag(@user.img_url, :size => '300x200')%></p><br>
<p> First Name: <%= @user.first_name %> </p><br>
<p> Last Name: <%= @user.last_name %> </p><br>
<p> Interested in: <%= @user.interest %> </p><br>
<p> About me: <%= @user.bio %> </p><br>


Create an event: <%= link_to 'Make an event', new_event_path %> <br>  
Find an event from the locations: <%= link_to 'Location', locations_path %><br>
Logged In As: <%=link_to session[:username], user_path(session)%> 
<br>
<%= button_to 'log out', {:controller => :sessions, :action => 'destroy'}, :method => :delete, class: "btn btn-primary"%>
<hr>
<% if session[:id] == @user.id %>
<%= form_tag user_path(@user.id), method: "delete" do %>
 <%= submit_tag 'Delete Profile'%>
 <% end %>
 
 <%# <%=f.submit "Delete Profile"%>  
<%end%>
