<h1>Events</h1>

<% @events.each do |event|%>
<ul><h3><%= link_to event.name, event%></h3>
<h4>Category: <%=event.category%> <br>
Time: <%=event.time%></h4></ul>
<br>
<br>
<%end%>

<hr>
Logged In As: <%=link_to session[:username], user_path(session)%> 
<br>
<%= button_to 'log out', {:controller => :sessions, :action => 'destroy'}, :method => :delete, class: "btn btn-primary"%>
 

