<h1><%=@event.name%></h1>
<hr>
<%= link_to image_tag(@event.img_url, :size => '300x200')%>
<hr>
<p><%=@event.time%>
<br>
<br>
<br>
<h2>Description</h2>
<hr>
<%=@event.description%></p>
<br>
Catergory: <br>
<%=@event.category%>
Time: <br>
<%=@event.time%>


