<h1><%=@event.name%></h1>
<hr>
<%= link_to image_tag(@event.img_url, :size => '300x200')%>
<hr>

<br>
<br>
<br>
<h2>Description</h2>
<hr>
<%=@event.description%></p>
<br>
Catergory: <%=@event.category%><br>
Time: <%= @event.time%><br>
City: <%=@event.location.city%>


