<h1><%=@event.name%></h1>
<hr>
<%= link_to image_tag(@event.img_url, :size => '500x500')%>
<hr>

<br>
<br>
<br>
<h2>Description</h2>
<hr>
<p><%=@event.description%></p>
<br>
<h4>
Catergory: <%=@event.category%><br>
Time: <%= @event.time%><br>
City: <%=@event.location.city%>

Sign up: 

</h4>

<hr>
Logged In As: <%=link_to session[:username], user_path(session)%> 
<br>
<%= button_to 'log out', {:controller => :sessions, :action => 'destroy'}, :method => :delete, class: "btn btn-primary"%>



